html, body {
    width:100%;
}
div.header{
    width:100%;
}
div.header div{
    display: inline-block;
}
/*.btn-controls{
    height:40px;
    width:70px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}*/
.hidden{
    display: none;
}
.visible{
    display: inherit;
}